/* 
    Created on : 19/03/2016, 19:40:58
    Author     : fbusquet
*/

body {
  font-size: 80%;
  min-height: 400px;
  background-color: #eee;
}

.steps {
  margin: 10px;
}

#list {
  _border: 1px solid lightgray;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-padding-start: 10px;
}

#list li {
  padding: 4px;
}

#list li .mdl-checkbox {
  width: auto;
}

#list li .mdl-list__item-icon {
  margin-right: 8px;
}

#previewDlg {
  width: 350px;
}

#previewImg {
  display: block;
  max-width: 260px;
  max-height: 260px;
  margin: auto;
}

.urltext {
  font-size: 80%;
  width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.urllink {
  font-size: 80%;
  margin-left: 10px;
}

.counters {
  margin: 3pt;
}

.centered {
  text-align: center;
}

.buttons {
  min-width: 400px;
  display: inline-block; 
}

.buttons * {
  vertical-align: middle;
}

#activity {
  margin-right: 10px;
}
