/* 
    Created on : 19/03/2016, 19:40:58
    Author     : fbusquet
*/

body {
  min-height: 500px;
  background-color: #fafafa;
}

#imgTable {
  margin: 5px;
  min-width: 479px;
}

#imgTable tbody,
#imgTable thead {
  display: block;
}

#imgTable tbody {
  height: 400px;
  overflow-y: auto;  
  overflow-x: hidden;
}

.urltext {
  display: block;
  font-size: 80%;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.urllink {
  text-decoration: none;
}

.controls {
  margin: 5px;
  padding: 5px 15px;
}

.controls > * {
  display: inline-block;
  vertical-align: middle;
}

.counter {
  width: 50px;
}

.nums {
  font-weight: bolder;
  text-align: center;
  width: 100%;
}

#progressBar {
  width: 100%;
}

.description {
  margin: 10px;
  line-height: normal;
  width: 300px;
  font-size: 90%;
}

.centered {
  text-align: center;
  margin-top: 15px;
}

.buttons {
  min-width: 400px;
  display: inline-block; 
}

.buttons * {
  vertical-align: middle;
  margin: 5px;
}

#previewDlg {
  width: 350px;
}

#previewImg {
  display: block;
  max-width: 260px;
  max-height: 260px;
  margin: auto;
}
