/* 
    Created on : 19/03/2016, 19:40:58
    Author     : fbusquet
*/

body {
  min-height: 400px;
  background-color: #fafafa;
}

.description {
  margin: 10px;
  line-height: normal;
}

.spacer {
  display: inline-block;
  width: 200px;
}

#imgListTable {
  margin: 5px;
}

#imgListTable tbody,
#imgListTable thead {
  __display: block;
}

#imgListTable tbody {
  height: 300px;
  overflow-y: auto;  
  overflow-x: hidden;
}

#previewDlg {
  width: 350px;
}

#previewImg {
  display: block;
  max-width: 260px;
  max-height: 260px;
  margin: auto;
}

.urltext {
  display: block;
  font-size: 80%;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.urllink {
  text-decoration: none;
}

.centered {
  text-align: center;
}

.buttons {
  min-width: 400px;
  display: inline-block; 
}

.buttons * {
  vertical-align: middle;
  margin: 5px;
}

#searchImg {
  margin-left: 10px;
}

.info {
  line-height: normal;
  font-size: 80%;
}

#scanInfo p {
  text-align: left;
  margin: 0;
  line-height: normal;
}

#spinner {
  max-width: 20px;
  max-height: 20px;
  vertical-align: middle;
}